/* Vars & Mixins */
/* Base settings */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.list-reset {
  margin: 0;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  list-style: none;
}

/* Common */
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "YS Logotype", sans-serif;
}

:root {
  --akcent: #f03;
  --akcent-active: rgb(155, 0, 31);
  --content-main: #060a1a;
  --content-dop: #747f85;
  --content-dop-light: #e3e4e5;
  --dominant-main: #fff;
  --dominant-main-transparent: #ffffffcf;
  --dominant-dop: #f4f5f9;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "YS Logotype";
  font-style: normal;
  src: url(../fonts/Yandex\ Sans\ Logotype-Light.ttf);
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--content-main);
  background-color: var(--dominant-main);
}

input {
  color: inherit;
  outline: none;
  font-size: inherit;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.m-container {
  margin: 0 auto;
  max-width: 1282px;
}

/* Header */
.m-header {
  padding: 24px 36px;
}
@media screen and (max-width: 1100px) {
  .m-header {
    padding: 20px 36px;
  }
}
@media screen and (max-width: 660px) {
  .m-header {
    padding: 33px 11px;
  }
}
.m-header .m-header__box {
  display: grid;
  grid-template-columns: 30% 1fr auto;
  gap: 16px;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__box {
    gap: 9px;
  }
}
.m-header .m-header__box .m-header__mobile-top {
  display: none;
  padding: 33px 12px 22px;
  border-bottom: 1px solid var(--content-dop-light);
  text-align: right;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__box .m-header__mobile-top {
    display: initial;
  }
}
.m-header .m-header__box .m-header__mobile-top .m-header__burger-close {
  background: none;
  border: none;
}
.m-header .m-header__burger {
  background: none;
  border: none;
  order: -2;
  display: none;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__burger {
    display: initial;
  }
}
.m-header .m-header__soc {
  display: flex;
  gap: 31px;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__soc {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__soc {
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__search {
    display: none;
  }
}
.m-header .m-header__search .m-header__search-field {
  padding: 12px 20px 12px 20px;
  border: 1px solid var(--content-dop-light);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-right: 88px;
  transition: all 0.5s ease;
  color: var(--content-dop);
}
.m-header .m-header__search .m-header__search-field:hover {
  background-color: var(--akcent);
  color: var(--dominant-main);
}
.m-header .m-header__search .m-header__search-field:hover img {
  filter: invert(1);
}
.m-header .m-header__search .m-header__search-field button {
  border: none;
  background: none;
}
.m-header .m-header__search .m-header__search-field input {
  border: none;
  font-size: 16px;
  color: inherit;
}
.m-header .m-header__search .m-header__search-field input::-moz-placeholder {
  color: inherit;
}
.m-header .m-header__search .m-header__search-field input::placeholder {
  color: inherit;
}
.m-header .m-header__phone {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 0 8px;
  font-weight: 600;
  font-size: 24px;
  color: var(--content-dop);
}
@media screen and (max-width: 660px) {
  .m-header .m-header__phone {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__phone {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__phone .m-header__phone-icon {
    width: 12px;
    height: 12px;
  }
}
.m-header .m-header__phone .m-header__phone-text {
  grid-column: span 2;
  justify-self: end;
  font-size: 12px;
}
.m-header .brand-font {
  font-weight: 700;
  font-size: 32px;
}
@media screen and (max-width: 730px) {
  .m-header .brand-font {
    font-size: 20px;
  }
}
.m-header .m-header__brand {
  display: flex;
  align-items: center;
  color: var(--content-main);
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__brand {
    order: -1;
  }
}
.m-header .m-header__brand span {
  color: var(--akcent);
}
.m-header .m-header__brand .m-header__heart {
  display: none;
  margin-right: 36px;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__brand .m-header__heart {
    display: initial;
    width: 16px;
    height: 16px;
  }
}
.m-header .m-header__menu {
  display: flex;
  align-items: baseline;
  grid-column: span 2;
  align-self: end;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu {
    grid-column: span 3;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__menu {
    position: absolute;
    inset: 0;
    background-color: var(--dominant-main-transparent);
  }
}
.m-header .m-header__menu ul {
  flex: 1 1 auto;
  display: flex;
  width: auto;
  justify-content: space-between;
}
.m-header .m-header__menu ul li {
  display: flex;
  gap: 55px;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu ul li {
    gap: 47px;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__menu ul {
    flex-direction: column;
    align-items: stretch;
  }
  .m-header .m-header__menu ul li {
    padding: 12px 0 20px 0;
    border-bottom: 1px solid var(--content-dop-light);
    margin: 0 12px;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu .m-header__link {
    font-size: 16px;
  }
}
.m-header .m-header__menu .m-header__brand-aligner {
  width: 0;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu .m-header__brand-aligner {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu .m-header__heart {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__menu .m-header__heart {
    display: none;
  }
}
.m-header .m-header__mobile {
  display: none;
}/*# sourceMappingURL=style.css.map */