@charset "UTF-8";
/* Vars & Mixins */
/* Base settings */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.list-reset {
  margin: 0;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  list-style: none;
}

/* Common */
:root {
  --ham-res: 660;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "YS Logotype", sans-serif;
}

:root {
  --akcent: #f03;
  --akcent-active: rgb(155, 0, 31);
  --content-main: #060a1a;
  --content-dop: #747f85;
  --content-dop-light: #e3e4e5;
  --dominant-main: #fff;
  --dominant-main-transparent: #fffffff0;
  --dominant-dop: #f4f5f9;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "YS Logotype";
  font-style: normal;
  src: url(../fonts/Yandex\ Sans\ Logotype-Light.ttf);
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--content-main);
  background-color: var(--dominant-main);
}

input {
  color: inherit;
  outline: none;
  font-size: inherit;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.m-container {
  margin: 0 auto;
  max-width: 1282px;
}

/* Components */
.dropsearch {
  position: relative;
}
.dropsearch .dropsearch__field {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.dropsearch .dropsearch__field input {
  padding: 0;
  flex: 1 1 auto;
  border: none;
  background: none;
  width: 100%;
  text-overflow: ellipsis;
}
.dropsearch .dropsearch__field .dropsearch__clear {
  flex: 0 0 0;
  padding: 5px;
  display: none;
  background: white;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  border: none;
}
@media (any-hover: hover) {
  .dropsearch .dropsearch__field .dropsearch__clear:hover {
    background: #cccbcb;
  }
}
.dropsearch .dropsearch__field .dropsearch__icon {
  transition: transform 0.5s;
}
.dropsearch.drop_open .dropsearch__clear {
  display: inherit;
}
.dropsearch.drop_open .dropsearch__icon {
  transform: rotate(180deg);
}
.dropsearch .dropsearch__list {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  overflow: hidden;
  z-index: 5;
  width: 100%;
}
.dropsearch .dropsearch__list ul {
  padding: 10px 0;
  max-height: 200px;
  overflow-y: auto;
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.dropsearch .dropsearch__list .dropsearch__item {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 20px;
  transition: color 0.2s, background-color 0.2s;
}
.dropsearch .dropsearch__list .dropsearch__empty {
  text-align: center;
}
.dropsearch.drop_open .dropsearch__list ul {
  transform: initial;
  opacity: 1;
}

.drop {
  position: relative;
}
.drop .drop__icon {
  transition: transform 0.5s;
}
.drop .drop__box {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  overflow: hidden;
  z-index: 5;
}
.drop .drop__box .drop__inner {
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.drop.drop_open .drop__icon {
  transform: rotate(180deg);
}
.drop.drop_open .drop__inner {
  transform: initial;
  opacity: 1;
}

/* All sections */
header,
section,
footer {
  padding: 24px 36px;
}
@media screen and (max-width: 1100px) {
  header,
  section,
  footer {
    padding: 20px 36px;
  }
}
@media screen and (max-width: 660px) {
  header,
  section,
  footer {
    padding: 33px 11px;
  }
}

.text-h1 {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--dominant-main);
  font-size: 40px;
}
@media screen and (max-width: 1100px) {
  .text-h1 {
    font-size: 32px;
  }
}

/* Header */
.m-header .m-header__box {
  display: grid;
  grid-template-columns: 30% 1fr auto;
  gap: 16px;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__box {
    gap: 9px;
    align-items: center;
  }
  .m-header .m-header__box .m-header__brand {
    order: -1;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__box {
    position: absolute;
    inset: 0;
    background-color: var(--dominant-main-transparent);
    grid-template-columns: 1fr;
    transform: translateY(-100%);
    opacity: 0;
    overflow-y: auto;
    z-index: 10;
  }
  .m-header .m-header__box .m-header__brand {
    display: none;
  }
  .m-header .m-header__box.open {
    transform: initial;
    opacity: initial;
  }
}
.m-header .m-header__box .m-header__mobile-top {
  display: none;
  position: sticky;
  top: 0;
  background-color: var(--dominant-main);
  padding: 33px 12px 22px;
  border-bottom: 1px solid var(--content-dop-light);
  text-align: right;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__box .m-header__mobile-top {
    display: initial;
  }
}
.m-header .m-header__box .m-header__mobile-top .m-header__burger-close {
  background: none;
  border: none;
}
.m-header .m-header__box_trans {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.m-header .m-header__soc {
  display: flex;
  gap: 31px;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__soc {
    justify-content: center;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__soc {
    order: 2;
    padding: 40px 52px 0 52px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__search {
    display: none;
  }
}
.m-header .m-header__search .m-header__search-field {
  padding: 12px 20px 12px 20px;
  border: 1px solid var(--content-dop-light);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-right: 88px;
  transition: all 0.5s ease;
  color: var(--content-dop);
}
.m-header .m-header__search .m-header__search-field:hover {
  background-color: var(--akcent);
  color: var(--dominant-main);
}
.m-header .m-header__search .m-header__search-field:hover img {
  filter: invert(1);
}
.m-header .m-header__search .m-header__search-field button {
  border: none;
  background: none;
}
.m-header .m-header__search .m-header__search-field input {
  border: none;
  font-size: 16px;
  color: inherit;
}
.m-header .m-header__search .m-header__search-field input::-moz-placeholder {
  color: inherit;
}
.m-header .m-header__search .m-header__search-field input::placeholder {
  color: inherit;
}
.m-header .m-header__phone {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  font-weight: 600;
  font-size: 24px;
  color: var(--content-dop);
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__phone {
    font-size: 16px;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__phone {
    padding-top: 40px;
    padding-bottom: 40px;
    order: 3;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__phone .m-header__phone-icon {
    width: 12px;
    height: 12px;
  }
}
.m-header .m-header__phone .m-header__phone-text {
  grid-column: span 2;
  justify-self: end;
  font-size: 12px;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__phone .m-header__phone-text {
    justify-self: center;
  }
}
.m-header .brand-font {
  font-weight: 700;
  font-size: 32px;
}
@media screen and (max-width: 730px) {
  .m-header .brand-font {
    font-size: 20px;
  }
}
.m-header .m-header__brand {
  display: flex;
  align-items: center;
  color: var(--content-main);
}
.m-header .m-header__brand span {
  color: var(--akcent);
}
.m-header .m-header__menu {
  display: flex;
  align-items: baseline;
  grid-column: span 2;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu {
    grid-column: span 3;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__menu {
    grid-column: initial;
  }
}
.m-header .m-header__menu ul {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__menu ul {
    flex-direction: column;
    align-items: stretch;
  }
  .m-header .m-header__menu ul li {
    border-bottom: 1px solid var(--content-dop-light);
    margin: 0 12px;
  }
}
.m-header .m-header__menu .m-header__link {
  display: block;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu .m-header__link {
    font-size: 16px;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__menu .m-header__link {
    padding: 12px 0 20px 0;
  }
}
.m-header .m-header__menu .m-header__brand-aligner {
  width: 0;
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu .m-header__brand-aligner {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .m-header .m-header__menu .m-header__heart {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 660px) {
  .m-header .m-header__menu .m-header__heart {
    display: none;
  }
}
.m-header .m-header__mobile {
  justify-content: space-between;
  align-items: center;
  display: none;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__mobile {
    display: flex;
  }
}
.m-header .m-header__mobile .m-header__burger {
  background: none;
  border: none;
  display: none;
}
@media screen and (max-width: 660px) {
  .m-header .m-header__mobile .m-header__burger {
    display: initial;
  }
}
.m-header .m-header__mobile .m-header__heart {
  width: 16px;
  height: 16px;
}

.m-filter {
  background-image: url(../img/filter-back.png);
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 45px;
  grid-template-columns: repeat();
}
.m-filter .simplebar-scrollbar::before {
  background-color: var(--akcent);
}
.m-filter .m-filter__h1 {
  margin-bottom: 20px;
}
.m-filter .m-filter__type-grp {
  display: flex;
  gap: 4px;
  min-height: 60px;
}
.m-filter .m-filter__type-grp .m-filter__type-btn {
  display: flex;
  align-items: center;
  padding: 0px 32px;
  background: var(--dominant-main);
  cursor: pointer;
}
.m-filter .m-filter__type-grp .m-filter__type-btn input {
  display: none;
}
.m-filter .m-filter__type-grp .m-filter__type-btn:has(input:checked) {
  background-color: var(--akcent);
  color: var(--dominant-main);
}
.m-filter .m-filter__type-grp .m-filter__type-btn:first-child {
  border-radius: 8px 0 0 8px;
}
.m-filter .m-filter__type-grp .m-filter__type-btn:last-child {
  border-radius: 0 8px 8px 0;
}
.m-filter .m-filter__bottom-box {
  display: flex;
  padding-top: 4px;
  justify-content: space-between;
  min-height: 75px;
}
.m-filter .m-filter__other-grp {
  display: flex;
  gap: 4px;
}
.m-filter .m-filter__btn {
  display: flex;
}
.m-filter .m-filter__btn button {
  display: flex;
  padding: 0px 28px 0px 32px;
  gap: 40px;
  align-items: center;
  background: var(--dominant-main);
  border: none;
  font-size: 16px;
}
.m-filter .m-filter__btn button .drop__icon {
  width: 20px;
  height: 12px;
  -webkit-mask-image: url(../img/drop.svg);
          mask-image: url(../img/drop.svg);
  background: var(--content-dop);
}
.m-filter .m-filter__btn:first-child > * {
  border-radius: 8px 0 0 8px;
}
.m-filter .m-filter__btn:last-child > * {
  border-radius: 0 8px 8px 0;
}
.m-filter .drop_open button {
  color: var(--akcent);
}
.m-filter .drop_open button .drop__icon {
  background: var(--akcent);
}
.m-filter .drop__box {
  left: -5px;
  padding: 5px;
}
.m-filter .drop__box .drop__inner {
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(11, 33, 44, 0.24);
  background: var(--dominant-main);
  padding: 32px;
}
.m-filter .m-filter__rooms-box .drop__inner {
  display: flex;
  gap: 8px;
}
.m-filter .m-filter__rooms-box .drop__inner .m-filter__rooms-item {
  border: 1px solid var(--content-dop);
  border-radius: 4px;
  padding: 18px 32px;
  font-size: 16px;
  color: var(--content-main);
  cursor: pointer;
}
.m-filter .m-filter__rooms-box .drop__inner .m-filter__rooms-item:has(input:checked) {
  background: var(--akcent);
  color: var(--dominant-main);
}
.m-filter .m-filter__rooms-box .drop__inner .m-filter__rooms-item input {
  display: none;
}
.m-filter .m-filter__price-box .drop__inner, .m-filter .m-filter__area-box .drop__inner {
  display: flex;
  gap: 4px;
}
.m-filter .m-filter__price-box .drop__inner .m-filter__field, .m-filter .m-filter__area-box .drop__inner .m-filter__field {
  display: flex;
  align-items: center;
  border: 1px solid var(--content-dop-light);
  border-radius: 4px;
  padding: 0 16px;
  width: 140px;
  height: 52px;
  color: var(--content-main);
  font-size: 16px;
  gap: 5px;
}
.m-filter .m-filter__price-box .drop__inner .m-filter__field input, .m-filter .m-filter__area-box .drop__inner .m-filter__field input {
  color: inherit;
  border: none;
  width: 100%;
}
.m-filter .m-filter__price-box .drop__inner .m-filter__field input::-moz-placeholder, .m-filter .m-filter__area-box .drop__inner .m-filter__field input::-moz-placeholder {
  color: var(--content-dop);
}
.m-filter .m-filter__price-box .drop__inner .m-filter__field input::placeholder, .m-filter .m-filter__area-box .drop__inner .m-filter__field input::placeholder {
  color: var(--content-dop);
}
.m-filter .m-filter__city,
.m-filter .m-filter__distr {
  display: flex;
  width: 240px;
  font-size: 16px;
}
.m-filter .m-filter__city .dropsearch__field,
.m-filter .m-filter__distr .dropsearch__field {
  padding: 0px 28px 0px 10px;
  background: var(--dominant-main);
}
.m-filter .m-filter__city .dropsearch__field input,
.m-filter .m-filter__distr .dropsearch__field input {
  font-family: var(--font-family);
  color: var(--content-main);
}
.m-filter .m-filter__city .dropsearch__field input::-moz-placeholder, .m-filter .m-filter__distr .dropsearch__field input::-moz-placeholder {
  font-family: var(--font-family);
  color: var(--content-dop);
}
.m-filter .m-filter__city .dropsearch__field input::placeholder,
.m-filter .m-filter__distr .dropsearch__field input::placeholder {
  font-family: var(--font-family);
  color: var(--content-dop);
}
.m-filter .m-filter__city .dropsearch__list,
.m-filter .m-filter__distr .dropsearch__list {
  left: -5px;
  width: calc(100% + 10px);
  padding: 5px;
}
.m-filter .m-filter__city .dropsearch__list ul,
.m-filter .m-filter__distr .dropsearch__list ul {
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(11, 33, 44, 0.24);
  background: var(--dominant-main);
}
.m-filter .m-filter__city .dropsearch__list ul .dropsearch__item,
.m-filter .m-filter__distr .dropsearch__list ul .dropsearch__item {
  font-family: var(--font-family);
  color: var(--content-dop);
}
.m-filter .m-filter__city .dropsearch__list ul .dropsearch__item .dropsearch__item_start,
.m-filter .m-filter__distr .dropsearch__list ul .dropsearch__item .dropsearch__item_start {
  color: var(--content-main);
}
.m-filter .m-filter__city .dropsearch__list ul .dropsearch__item:hover,
.m-filter .m-filter__distr .dropsearch__list ul .dropsearch__item:hover {
  background-color: var(--akcent);
  color: var(--dominant-dop);
}
.m-filter .m-filter__city .dropsearch__list ul .dropsearch__empty::before,
.m-filter .m-filter__distr .dropsearch__list ul .dropsearch__empty::before {
  color: var(--content-dop);
  content: "Не найдено";
}
.m-filter .m-filter__search {
  border-radius: 8px;
  padding: 0px 60px;
  font-weight: 600;
  font-size: 20px;
  color: var(--dominant-main);
  background-color: var(--akcent);
  border: none;
}/*# sourceMappingURL=style.css.map */