/* Vars & Mixins */
$ham-res: 660;


@mixin media($res) {
    @media screen and (max-width: #{$res}px) {
        @content
    }
}

/* Base settings */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.list-reset {
    margin: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
}

/* Common */

:root {
    --ham-res: #{$ham-res};
}

:root {
    --font-family: "Inter", sans-serif;
    --second-family: "YS Logotype", sans-serif;
}

:root {
    --akcent: #f03;
    --akcent-active: rgb(155, 0, 31);
    --content-main: #060a1a;
    --content-dop: #747f85;
    --content-dop-light: #e3e4e5;
    --dominant-main: #fff;
    --dominant-main-transparent: #fffffff0;
    --dominant-dop: #f4f5f9;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'YS Logotype';
    font-style: normal;
    src: url(../fonts/Yandex\ Sans\ Logotype-Light.ttf);
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--content-main);
    background-color: var(--dominant-main);
}

input {
    color: inherit;
    outline: none;
    font-size: inherit;
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.m-container {
    margin: 0 auto;
    max-width: 1282px;
}

/* Components */
.dropsearch {
    position: relative;

    .dropsearch__field {
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;

        input {
            padding: 0;
            flex: 1 1 auto;
            border: none;
            background: none;
            width: 100%;
            text-overflow: ellipsis;
        }

        .dropsearch__clear {
            flex: 0 0 0;
            padding: 5px;
            display: none;
            background: white;
            min-width: 23px;
            min-height: 23px;
            border-radius: 50%;
            border: none;

            @media (any-hover: hover) {
                &:hover {
                    background: #cccbcb;
                }
            }
        }

        .dropsearch__icon {
            transition: transform 0.5s;
        }
    }

    &.drop_open .dropsearch__clear {
        display: inherit;
    }

    &.drop_open .dropsearch__icon {
        transform: rotate(180deg);
    }

    .dropsearch__list {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        overflow: hidden;
        z-index: 5;
        width: 100%;

        ul {
            padding: 10px 0;
            max-height: 200px;
            overflow-y: auto;
            transform: translateY(-100%);
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s;
        }

        .dropsearch__item {
            cursor: pointer;
            user-select: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px 20px;
            transition: color 0.2s, background-color 0.2s;
        }

        .dropsearch__empty {
            text-align: center;
        }
    }

    &.drop_open .dropsearch__list {
        ul {
            transform: initial;
            opacity: 1;
        }
    }
}

.drop {
    position: relative;

    .drop__icon {
        transition: transform 0.5s;
    }

    .drop__box {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        overflow: hidden;
        z-index: 5;

        .drop__inner {
            transform: translateY(-100%);
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s;
        }
    }

    &.drop_open .drop__icon {
        transform: rotate(180deg);
    }

    &.drop_open .drop__inner {
        transform: initial;
        opacity: 1;
    }
}

/* All sections */

header,
section,
footer {
    padding: 24px 36px;

    @include media(1100) {
        padding: 20px 36px;
    }

    @include media($ham-res) {
        padding: 33px 11px;
    }
}

.text-h1 {
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--dominant-main);

    font-size: 40px;

    @include media(1100) {
        font-size: 32px;
    }
}


/* Header */
.m-header {
    .m-header__box {
        display: grid;
        grid-template-columns: 30% 1fr auto;
        gap: 16px;

        @include media(1100) {
            gap: 9px;
            align-items: center;

            .m-header__brand {
                order: -1;
            }
        }

        @include media($ham-res) {
            position: absolute;
            inset: 0;
            background-color: var(--dominant-main-transparent);
            grid-template-columns: 1fr;
            transform: translateY(-100%);
            opacity: 0;
            overflow-y: auto;
            z-index: 10;

            .m-header__brand {
                display: none;
            }

            &.open {
                transform: initial;
                opacity: initial;
            }
        }

        .m-header__mobile-top {
            display: none;

            @include media($ham-res) {
                display: initial;
            }

            position: sticky;
            top: 0;
            background-color: var(--dominant-main);

            padding: 33px 12px 22px;
            border-bottom: 1px solid var(--content-dop-light);
            text-align: right;

            .m-header__burger-close {
                background: none;
                border: none;
            }
        }
    }

    .m-header__box_trans {
        transition: transform 0.5s ease, opacity 0.5s ease;
    }


    .m-header__soc {
        display: flex;

        gap: 31px;

        @include media(1100) {
            justify-content: center;
        }

        @include media($ham-res) {
            order: 2;
            padding: 40px 52px 0 52px;
            justify-content: space-between;
        }
    }

    .m-header__search {
        @include media(1100) {
            display: none;
        }

        .m-header__search-field {
            padding: 12px 20px 12px 20px;
            border: 1px solid var(--content-dop-light);
            border-radius: 8px;
            display: grid;
            grid-template-columns: 1fr auto;
            margin-right: 88px;
            transition: all 0.5s ease;
            color: var(--content-dop);

            &:hover {
                background-color: var(--akcent);
                color: var(--dominant-main);

                img {
                    filter: invert(1);
                }
            }

            button {
                border: none;
                background: none;
            }

            input {
                border: none;
                font-size: 16px;
                color: inherit;

                &::placeholder {
                    color: inherit;
                }
            }
        }
    }

    .m-header__phone {
        display: grid;

        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: center;
        gap: 0 8px;
        font-weight: 600;
        font-size: 24px;
        color: var(--content-dop);

        @include media(1100) {
            font-size: 16px;
        }

        @include media($ham-res) {
            padding-top: 40px;
            padding-bottom: 40px;
            order: 3;
        }

        .m-header__phone-icon {
            @include media(1100) {
                width: 12px;
                height: 12px;
            }
        }

        .m-header__phone-text {
            grid-column: span 2;
            justify-self: end;

            @include media($ham-res) {
                justify-self: center;
            }

            font-size: 12px;
        }
    }

    .brand-font {
        font-weight: 700;
        font-size: 32px;

        @include media(730) {
            font-size: 20px;
        }
    }

    .m-header__brand {
        display: flex;
        align-items: center;


        color: var(--content-main);

        span {
            color: var(--akcent);
        }
    }

    .m-header__menu {
        display: flex;
        align-items: baseline;

        grid-column: span 2;

        @include media(1100) {
            grid-column: span 3;
        }

        @include media($ham-res) {
            grid-column: initial;
        }

        ul {
            flex: 1 0 auto;
            display: flex;
            // gap: 31px;
            justify-content: space-between;
            align-items: center;

            @include media($ham-res) {
                flex-direction: column;
                align-items: stretch;

                li {
                    border-bottom: 1px solid var(--content-dop-light);
                    margin: 0 12px;
                }
            }
        }

        .m-header__link {
            display: block;

            @include media(1100) {
                font-size: 16px;
            }

            @include media($ham-res) {
                padding: 12px 0 20px 0;
            }
        }

        .m-header__brand-aligner {
            width: 0;

            @include media(1100) {
                display: none;
            }
        }

        .m-header__heart {
            @include media(1100) {
                width: 20px;
                height: 20px;
            }

            @include media($ham-res) {
                display: none;
            }
        }
    }

    .m-header__mobile {
        justify-content: space-between;
        align-items: center;
        display: none;

        @include media($ham-res) {
            display: flex;
        }

        .m-header__burger {
            background: none;
            border: none;
            display: none;

            @include media($ham-res) {
                display: initial;
            }
        }

        .m-header__heart {
            width: 16px;
            height: 16px;
        }
    }
}

.m-filter {
    background-image: url(../img/filter-back.png);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 45px;
    grid-template-columns: repeat();

    .simplebar-scrollbar::before {
        background-color: var(--akcent);
    }

    .m-filter__h1 {
        margin-bottom: 20px;
    }

    .m-filter__h1-mobile {
        display: none;
    }

    .m-filter__mobile-top {
        display: none;
        position: sticky;
        top: 0;
        background-color: var(--dominant-main);
        padding-top: 33px;
        padding-bottom: 19px;

        .m-filter__h3 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            color: var(--content-main);
        }

        .m-filter__mobile-close {
            background: none;
            border: none;
        }

    }

    .m-filter__mobile-reset {
        display: none;

        button {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 14px;
            color: var(--akcent);
            background: none;
            border: none;
            padding-top: 13px;
            margin-bottom: 32px;
        }
    }

    .m-filter__type-grp {
        display: flex;
        gap: 4px;
        min-height: 60px;

        .m-filter__type-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 32px;
            background: var(--dominant-main);
            cursor: pointer;

            input {
                display: none;
            }

            &:has(input:checked) {
                background-color: var(--akcent);
                color: var(--dominant-main);
                border: none;
                font-weight: 600;
            }

            &:first-child {
                border-radius: 8px 0 0 8px;
            }

            &:last-child {
                border-radius: 0 8px 8px 0;
            }
        }
    }

    .m-filter__mobile-search {
        display: none;
        grid-template-columns: 1fr auto;
        align-items: center;
        border-radius: 8px;
        padding: 0 20px;
        margin-top: 12px;
        width: 100%;
        height: 48px;
        background: var(--dominant-main);

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--content-main);
        border: none;
        text-align: left;
    }

    .m-filter__bottom-box {
        display: flex;
        padding-top: 4px;
        min-height: 75px;
        gap: 4px;

    }

    .m-filter__other-grp {
        display: flex;
        gap: 4px;
    }

    .m-filter__btn {
        display: grid;
        width: 194px;

        button {
            display: grid;
            grid-template-columns: 1fr auto;
            justify-items: start;
            padding: 0px 28px 0px 32px;
            // gap: 40px;
            align-items: center;
            background: var(--dominant-main);
            border: none;
            font-size: 16px;

            .drop__icon {
                width: 20px;
                height: 12px;
                mask-image: url(../img/drop.svg);
                background: var(--content-dop);
            }
        }

        &:first-child>* {
            border-radius: 8px 0 0 8px;
        }

        &:nth-last-child(2)>* {
            border-radius: 0 8px 8px 0;
        }
    }

    .drop_open {
        button {
            color: var(--akcent);

            .drop__icon {
                background: var(--akcent);
            }
        }
    }

    .drop__box {
        left: -5px; //Чтобы тень была видна
        padding: 5px; //Чтобы тень была видна

        .drop__inner {
            border-radius: 8px;
            box-shadow: 0 2px 6px 0 rgba(11, 33, 44, 0.24);
            background: var(--dominant-main);
            padding: 32px;
        }
    }

    .m-filter__rooms-box {
        .drop__inner {
            display: flex;
            gap: 8px;

            .m-filter__rooms-item {
                border: 1px solid var(--content-dop);
                border-radius: 4px;
                padding: 18px 32px;
                font-size: 16px;
                color: var(--content-main);
                text-align: center;
                cursor: pointer;

                &:has(input:checked) {
                    background: var(--akcent);
                    color: var(--dominant-main);
                    font-weight: 600;
                }

                input {
                    display: none;
                }
            }
        }
    }

    .m-filter__price-box,
    .m-filter__area-box {
        .drop__inner {
            display: flex;
            gap: 4px;

            .m-filter__field {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                border: 1px solid var(--content-dop-light);
                border-radius: 4px;
                padding: 0 16px;
                width: 140px;
                height: 52px;
                color: var(--content-main);
                font-size: 16px;
                gap: 5px;

                input {
                    color: inherit;
                    border: none;
                    width: 100%;
                }

                input::placeholder {
                    color: var(--content-dop);
                }

            }
        }
    }

    .m-filter__city,
    .m-filter__distr {
        // display: flex;
        // padding: 0;
        width: 240px;
        font-size: 16px;

        .dropsearch__field {
            padding: 0px 28px 0px 10px;
            background: var(--dominant-main);

            input {
                font-family: var(--font-family);
                color: var(--content-main);
            }

            input::placeholder {
                font-family: var(--font-family);
                color: var(--content-dop);
            }
        }

        .dropsearch__list {
            left: -5px; //Чтобы тень была видна
            width: calc(100% + 10px); //Чтобы тень была видна
            padding: 5px; //Чтобы тень была видна

            ul {
                border-radius: 8px;
                box-shadow: 0 2px 6px 0 rgba(11, 33, 44, 0.24);
                background: var(--dominant-main);

                .dropsearch__item {
                    font-family: var(--font-family);
                    color: var(--content-dop);

                    .dropsearch__item_start {
                        color: var(--content-main);
                    }

                    &:hover {
                        background-color: var(--akcent);
                        color: var(--dominant-dop);
                    }
                }

                .dropsearch__empty::before {
                    color: var(--content-dop);
                    content: "Не найдено";
                }
            }
        }
    }

    .m-filter__search {
        border-radius: 8px;
        padding: 0px 60px;
        font-weight: 600;
        font-size: 20px;
        color: var(--dominant-main);
        background-color: var(--akcent);
        border: none;
        margin-left: auto;
    }

    @include media(1100) {
        .m-filter__type-grp {
            .m-filter__type-btn {
                flex-grow: 1;
                font-size: 16px;
                padding: 0px 22px;
            }
        }

        .m-filter__bottom-box {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            flex-wrap: wrap;
            min-height: 150px;
        }

        .m-filter__btn,
        .m-filter__search {
            // width: unset;
            flex: 1 1 30%;
        }

        .m-filter__area .drop__box {
            left: unset;
            right: 0;
        }

        .m-filter__btn {
            &:nth-child(4)>* {
                border-radius: 8px 0 0 8px;
            }

            &:nth-last-child(4)>* {
                border-radius: 0 8px 8px 0;
            }
        }
    }

    @include media($ham-res) {
        .m-filter__h1 {
            display: none;
        }

        .m-filter__h1-mobile {
            display: initial;
        }

        .m-filter__mobile-top {
            display: flex;
            z-index: 1;
            justify-content: space-between;
        }

        .m-filter__group {
            position: absolute;
            inset: 0;
            background-color: var(--dominant-main-transparent);
            padding: 0 12px;
            transform: translateY(-100%);
            opacity: 0;
            overflow-y: auto;
            z-index: 10;

            &.open {
                transform: initial;
                opacity: initial;
            }

            .m-filter__mobile-reset {
                display: inherit;
            }

            .m-filter__type-grp {
                flex-wrap: wrap;
                min-height: 120px;

                .m-filter__type-btn {
                    flex: 1 1 49%;
                    border-radius: 4px;
                    border: 1px solid var(--content-dop-light);
                    font-size: 14px;
                }
            }

            .m-filter__bottom-box {
                .m-filter__btn {
                    flex: 1 1 99%;
                }

                .drop {
                    padding-top: 40px;

                    button {
                        background: none;
                        padding: 0;
                        font-size: 14px;
                        pointer-events: none;
                    }

                    .drop__icon {
                        display: none;
                    }

                    .drop__box {
                        display: initial !important;
                        position: unset;
                        padding: 0;
                        z-index: 0;

                        .drop__inner {
                            transform: none;
                            opacity: unset;
                            border-radius: 0;
                            box-shadow: none;
                            background: none;
                            padding: 20px 0 0 0;
                        }
                    }
                }

                .m-filter__rooms {
                    button {
                        display: none;
                    }
                }

                .m-filter__rooms-item {
                    background: var(--dominant-main);
                    padding: 18px 20px;
                }

                .m-filter__rooms-box {
                    &:before {
                        content: "Колличество комнат";
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--content-main);
                    }

                    .drop__inner {
                        flex-wrap: wrap;

                        .m-filter__rooms-item {
                            flex: 1 1 20%;
                            font-size: 14px;
                        }
                    }
                }

                .m-filter__field {
                    background: var(--dominant-main);
                }

                .m-filter__price-box {
                    .drop__inner {}
                }

                .m-filter__city {
                    &:before {
                        content: "Город";
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--content-main);
                    }
                }

                .m-filter__distr {
                    &:before {
                        content: "Район";
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--content-main);
                    }
                }

                .m-filter__city,
                .m-filter__distr {
                    padding-top: 40px;

                    .dropsearch__field {
                        height: 52px;
                        border: 1px solid var(--content-dop-light);
                        border-radius: 8px;
                        margin-top: 20px;
                    }
                }

                .m-filter__search {
                    margin-top: 40px;
                    margin-bottom: 40px;
                    height: 72px;
                }
            }
        }

        .m-filter__group_trans {
            transition: transform 0.5s ease, opacity 0.5s ease;
        }

        .m-filter__mobile-search {
            display: grid;
        }
    }
}